.ui-select {
    margin: 40px auto 0;
    display: block;
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    font-size: 14px;
    position: relative;
    z-index: var(--z-index);

    &__input-wrap {
		position: relative;
		z-index: 1;
        padding: 2em 1.15em 0;
        background-color: #fff;
    }

    &__input-inner {
        position: relative;

        &::before {
            content: attr(data-placeholder);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: .8em;
            text-transform: uppercase;
            color: #ccc;
            pointer-events: none;
            transition: top .2s, font-size .2s;
        }

        input {
            width: 100%;
            border: none;
            font-size: 1.2em;
            line-height: 1em;
            border-bottom: 1px solid #ccc;
            padding: .8em 1.2em .8em 0;
            outline: none;
            transition: border .2s;
        }

        label {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(0);
            width: .8em;
            height: .8em;
            pointer-events: none;
            transition: transform .2s;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ccc;
                transition: background-color .2s;
            }

            &::before {
                width: 100%;
                height: 1px;
            }

            &::after {
                height: 100%;
                width: 1px;
            }
        }

        &--active {

            &::before {
                top: -5px;
                font-size: .75em;
            }

            input {
                border-bottom: 1px solid #000;
            }

            label {
                pointer-events: auto;
                cursor: pointer;
                transform: translateY(-50%) rotate(45deg);

                &::before,
                &::after {
                    background-color: #000;
                }
            }
        }
    }

    ul.ui-select__options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #fff;
        padding: 1.15em;
        display: block;
        max-height: 0px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        opacity: 0;
        transition: opacity .2s, max-height .2s, box-shadow .2s 0s;
    }

    &__option {
        padding: 0;

        &+.ui-select__option {
            margin-top: 1em;
        }

        input[type="checkbox"] {
            display: none;

            &:checked~span:not(.ui-select__option-text) {
                box-shadow: inset 0px 0px 0px .5em #000;

                &::after {
                    opacity: 1;
                }
            }
        }

        span:not(.ui-select__option-text) {
            position: relative;
            width: 1.1em;
            height: 1.1em;
            border: 1px solid #000;
            transition: box-shadow .2s ease-in;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                border-left: .15em solid #fff;
                border-bottom: .15em solid #fff;
                width: .5em;
                height: .3em;
                transform: translate(-50%, -58%) rotate(-45deg);
                opacity: 0;
                transition: opacity .2s ease-in;
            }
        }
    }

    &__option-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        user-select: none;
    }

    &__option-text {
        line-height: 1em;
        font-size: 1em;
        display: inline-block;
        margin-left: 1em;
    }

    &--active {

        .ui-select__input-inner {

            &::before {
                top: -5px;
                font-size: .75em;
            }

            input {
                border-bottom: 1px solid #000;
            }
        }

        ul.ui-select__options {
            opacity: 1;
			max-height: 150px;
            box-shadow: 0px -35px 70px 25px rgba(0, 0, 0, 0.11);
        }
    }
}