<!doctype html>
<html lang="en">

<head>
	<title>List File</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="images/favicon/favicon.ico">
</head>

<body>
	<%= require('html-loader!./includes/header.html') %>
    <h1>List</h1>
    <img src="images/svg/bag.svg" alt="">
	<%= require('html-loader!./includes/footer.html') %>
</body>

</html>