<header>
    <div class="container">
        <nav class='greedy'>
            <h1>GreedyMenu</h1>
            <ul class='links'>
                <li><a href='#'>navbar</a></li>
                <li><a href='#'>that</a></li>
                <li><a href='#'>handles</a></li>
                <li><a href='#'>overflowing</a></li>
                <li><a href='#'>menu</a></li>
                <li><a href='#'>elements</a></li>
                <li><a href='#'>effortlessly</a></li>
            </ul>
            <button>MENU</button>
            <ul class='hidden-links hidden'></ul>
        </nav>
    </div>
    <!-- <img src="../images/svg/bag.svg" alt=""> -->
</header>