<!doctype html>
<html lang="en">

<head>
    <title>Webpack template</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="images/favicon/favicon.ico">
</head>

<body>
    <div class="wrap-helper">
        <div class="wrap-helper__inner">
            <%= require('html-loader!./partials/header.html') %>
            <h1>Webpack template</h1>
            <hr />
            <input id="mask" type="text">
            <div class="multiselect">
                <div class="multiselect__input-wrap">
                    <div class="multiselect__input-inner" data-placeholder="Placeholder">
                        <input type="text" readonly>
                        <label></label>
                    </div>
                </div>
                <!-- adding/remove data-multi attribute toggles between single/multi select -->
                <ul class="multiselect__options">
                    <li class="multiselect__option">
                        <label class="multiselect__option-label">
                            <input type="checkbox">
                            <span></span>
                            <span class="multiselect__option-text">Black Sabbath</span>
                        </label>
                    </li>
                    <li class="multiselect__option">
                        <label class="multiselect__option-label">
                            <input type="checkbox">
                            <span></span>
                            <span class="multiselect__option-text">Metallica</span>
                        </label>
                    </li>
                    <li class="multiselect__option">
                        <label class="multiselect__option-label">
                            <input type="checkbox">
                            <span></span>
                            <span class="multiselect__option-text">AC/DC</span>
                        </label>
                    </li>
                    <li class="multiselect__option">
                        <label class="multiselect__option-label">
                            <input type="checkbox">
                            <span></span>
                            <span class="multiselect__option-text">Volbeat</span>
                        </label>
                    </li>
                    <li class="multiselect__option">
                        <label class="multiselect__option-label">
                            <input type="checkbox">
                            <span></span>
                            <span class="multiselect__option-text">Disturbed</span>
                        </label>
                    </li>
                    <li class="multiselect__option">
                        <label class="multiselect__option-label">
                            <input type="checkbox">
                            <span></span>
                            <span class="multiselect__option-text">Manowar</span>
                        </label>
                    </li>
                    <li class="multiselect__option">
                        <label class="multiselect__option-label">
                            <input type="checkbox">
                            <span></span>
                            <span class="multiselect__option-text">Something</span>
                        </label>
                    </li>
                </ul>
            </div>

            <!-- <svg>
                <use xlink:href="#icon-home"></use>
            </svg> -->
            <!-- <img src="images/webpack-logo.png" alt=""> -->
        </div>
        <%= require('html-loader!./partials/footer.html') %>
    </div>
</body>

</html>