<!doctype html>
<html lang="en">

<head>
	<title>Webpack template</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="images/icon" href="images/favicon/favicon.ico" type="image/ico">
</head>

<body>
	<div class="wrap-helper">
		<div class="wrap-helper__inner">
			<%= require('html-loader!./partials/header.html') %>
			<h1>Webpack template</h1>
			<hr/>
			<svg>
				<use xlink:href="#icon-home"></use>
			</svg>
			<img src="images/webpack-logo.png" alt="">
		</div>
		<%= require('html-loader!./partials/footer.html') %>
	</div>
</body>

</html>